.table {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    padding: 10px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 200px;
    height: 300px;
    max-width: 200px;
    max-height: 300px;
}

.card-header {
    align-items: center;
    background-color: #ffdca3;
    color: #6f413b;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.card-header .name {
    font-size: 16px;
    font-weight: bold;
}

.card-header .id {
    font-size: 12px;
}

.card-image {
    position: relative;
}

.card-image img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.series-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.series-icon img {
    display: block;
    width: 25px;
    height: 25px;
}

.type-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.type-icon img {
    display: block;
    width: 25px;
    height: 25px;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.iconWithNumber {
    display: inline-block;
    position: relative;
}

.iconWithNumber .IconNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

.iconWithNumber img {
    display: block;
    margin: auto;
    width: 35px;
    height: 35px;
}

.description {
    margin-top: 10px;
}

.ability {
    display: none;
    margin-top: 10px;
}

.card-footer {
    align-items: center;
    background-color: #ffdca3;
    color: #6f413b;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.card-footer .shop-cost {
    font-size: 12px;
    font-weight: bold;
}

/* Show relevant ability */
.card[data-ability="reveal"] .ability:nth-child(1),
.card[data-ability="ongoing"] .ability:nth-child(2),
.card[data-ability="special"] .ability:nth-child(3) {
    display: flex;
}